.description{
  padding-top: clamp(20px,10vw,220px);
  padding-bottom: clamp(20px,6vw,180px);
  padding-right: 0;
  padding-left: 0;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: clamp(16px, 1.5vw, 28px);
  .title{
    font-size: clamp(20px, 3.5vw, 67px);
    font-weight: 100;
    margin-bottom: 20px;
  }
  .content{
    margin-bottom: 30px;
  }
  p{
    @include md{
      margin: 0;
    }
  }
  h3{
    font-size: clamp(20px, 3.5vw, 67px);
    font-weight: 300;
    color: $accentColor;
    @include md{
      font-weight: 600;
    }
  }
  .links{
    font-size: clamp(15px, 1.7vw, 33px);
    color: white;
    text-transform: uppercase;
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    li{
      margin: 10px;
    }
  }
}