.footer{
  padding: 0 0 70px;
  background-color: $mainColor;
  color: white;
  font-size: clamp(16px, 1.5vw, 28px);
  @include sm{
    padding: 50px 0 70px;
  }
  @include md{
    padding: 50px 0 70px 70px;
  }
  @include lg{
    padding: 50px 0 100px 100px;
  }
  .wrap{
    font-weight: 300;
    text-align: center;
    @include sm{
      text-align: left;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    p{
      margin: 0 0 7px;
    }
  }
  .content{
    display: none;
    @include sm{
      display: block;
    }
  }
  .email{
    margin-top: 15px;
    display: block;
  }
  .coordination{
    font-weight: 700;
  }
  .wrap-button{
    .button{
      background: $accentColor;
      @include xl{
        padding: 15px 2vw;
      }
    }
  }
}
 