.gallery{
  background-color: white;
  margin-bottom: 40px;
  .filters-button-group{
    background-color: $mainColor;
    padding-bottom: 30px;
  }
  .grid{
    margin: 0 auto;
    padding: 20px 0 40px;
    @include xxl{
      padding: 30px 0 80px;
    }
  }
  .grid-item {
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
    background-clip: border-box;
    width: 31.33%;
    margin: 1%;
    img{
      width: 100%;
    }
  }
  .gallery-filters{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    font-size: clamp(16px, 1.6vw, 33px);
    text-transform: uppercase;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1130px;
    font-weight: 300;
    li{
      margin: 10px 15px;
      cursor: pointer;
    }
  }
}