
.hero{
  height: 100vh;
  max-height: 1300px;
  background: #c8dbdb;
  position: relative;
  .container{
    display: flex;
    height: calc(100% - 10vw);
    position: relative;
    @include md{
      align-items: center;
    }
  }
  .content{
    padding: 45px 0;
    word-wrap: break-word;
    width: 90vw;
    @include md{
      padding: 0;
    }
  }
  .top{
    display: none;
    @include md{
      padding: 20px 0;
      position: relative;
      z-index: 1;
      display: flex;
      @include xxl{
        padding: 50px 0 0 15px;
      }
    }
  }
  .bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }
  .logo{
    max-width: 60px;
    margin: 0 15px 0 15px;
    @include md{
      max-width: 9vw;
      margin: 0 2vw 0 1vw;
    }
    img{
      height: auto;
    }
  }
  .breadcrumbs{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: clamp(12px, .9vw, 18px);
    text-shadow: 0 0 9px #b3b3b3;
    a{
      transition: .3s;
      &:hover{
        color: $accentColor;
      }
    }
    li{
      margin-right: 5px;
      &:last-child{
        font-weight: 700;
      }
    }
  }
  .title{
    color: transparent;
    text-transform: lowercase;
    -webkit-text-stroke: 1px white;
    font-size: clamp(30px, 14vw, 227px);
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1;
    letter-spacing: 5px;
    @include md{
      margin-bottom: 30px;
    }
  }
  .sub-title{
    text-transform: uppercase;
    color: $accentColor;
    text-align: left;
    font-size: clamp(35px, 3vw, 68px);
    line-height: 1;
    margin: 0;
    font-weight: 300;
    @include md{
      font-weight: 500;
    }
  }
  .arrow{
    display: none;
    @include md{
      display: block;
      color: $accentColor;
      position: absolute;
      right: 20px;
      max-width: 100px;
      width: 5vw;
      top: 65%;
    }
  }
}