$header-bgc: $mainColor;

.header {
    z-index: 5;
    overflow: hidden;
    position: fixed;
    width: 70px;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: $header-bgc;
    transition: 0.3s;
    @include xl{
        width: 100px;
    }
    .container{
        padding: 0 10px;
    }
    .top{
        margin: 0 auto;
    }
    .content {
        flex-wrap: wrap;  
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .logo {
        width: 50px;
        margin: 0 auto;
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
        } 
    }
    .name{
        display: block;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
        margin: 10px 0 0;
    }
}

.nav-open{
    position: fixed;
    width: 100vw;
    animation: 0.2s openHeader forwards linear;
    &.header{
        @include md{
            width: 50vw;
        }
        .top{
            width: 100%;
            margin-bottom: 30px;
        }
        .name{
            display: none;
        }
    }
}

@keyframes openHeader {
    0%{
       bottom:calc(100% - 120px);
    }
    100%{
        bottom:0;
    }
}

@import'./nav';