
.nav {
    color: white;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    .wrap {
        width: calc(50% - 30px);
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        padding: 0;
        margin: 0 15px;
        overflow: hidden;
        font-size: clamp(20px, 1.8vw, 36px);
        font-weight: 300;
        &.modified{
            font-size: clamp(14px, 1.5vw, 26px);
            text-transform: none;
            font-weight: 400;
            h2{
                font-weight: 300;
                text-align: left;
                font-size: clamp(20px, 1.8vw, 36px);
            }
        }
    }

    .menu-item {
        transform: translateX(+100%);
        a{
            padding: 5px 0;
            width: 100%;
            display: block;
        }
        &:nth-child(2n) {
            transform: translateX(-100%);
        }

        display: block;
        transition: 0.5s;

        &:hover {
            color: $accentColor;
            transition: 0.2s;
        }
    }
}
.nav-btn {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 21px;
    z-index: 10;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    @include md{
        width: 50px;
        height: 50px;
    }
    @include xl{
        width: 60px;
    }
    .btn-row {
        transition: 0.2s;
        background-color: white;
        height: 3px;
        width: 100%;
        @include md{
            height: 4px;
        }
    }
    .btn-row+.btn-row {
        margin-top: 3px;
        @include md{
            margin-top: 5px;
        }
    }
}

.nav-open {
    .btn-row{
        height: 1px;
        @include sm{
            height: 3px;
        }
        @include md{
            height: 4px;
        }
    }
    .nav {
        margin-bottom: 10vh;
        @include md{
            width: calc(100% - 70px);
            padding-top: 30vh;
            padding-bottom: 10vh;
        }
        @include xl{
            width: calc(100% - 100px);
        }
        .wrap {
            height: auto;
            opacity: 1;
            pointer-events: all;
            width: 100%;
            z-index: 10;
            max-height: 100vh;
        }
        .menu-item {
            transform: none;
        }
    }
    .nav-btn {
        @include md{
            top: 10px;
            position: absolute;
            right: 10px;
        }
    }
    .btn-row {
        margin: 0 !important;
        &:nth-child(1) {
            transform: translateY(100%) rotate(-45deg);
        }
        &:nth-child(2) {
            opacity: 0;
            width: 0;
        }
        &:nth-child(3) {
            transform: translateY(-100%) rotate(45deg);
        }
    }
}